<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block title %}Blog | {{category}}{% endblock %}

{% block page_content %}

    <h1>{{category}}</h1>
    <div class="card" style="width:20%">
        <div class="card-body">
            <h4 class="card-title">Bologna</h4>
            <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
            <a href="#" class="card-link">Read More</a>
            <a href="#" class="card-link">Book a Trip</a>
        </div>
        <img class="card-img-bottom" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-2.jpg" alt="Bologna">
    </div>
    {% for post in posts %}
        <a href="{% url 'post' post.slug  %}">{{post}}</a>
        <small>{{post.about}}</small>
    {% empty %}
        There are no posts in {{category}} yet
    {% endfor %}

{% endblock %}