<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static '/blog/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test</title>
    </head>
    <body>
        <div class="side-bar">
            <a class="side-bar-item" style="height:10%" href="#">Logo</a>
            <div  style="height:68%;  ; background:whitesmoke;  margin-bottom:1% ;  ">


                <!-- The whole items in this div  element should not be more than 11-->


                    <a class="side-bar-item side-bar-item-category"><b>CATEGORIES</b></a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Love Life</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Sex Life</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">School Hustle</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Orgy</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Man Like</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">HER</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">A Week In Life</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Naira life</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Hustle</a>
                    <a class="side-bar-item side-bar-item-category"  href="#">Realationship</a>
                    <a class="side-bar-item side-bar-item-category"  href="#"><b>Load More Categories</b></a>



            </div>
            <a class="side-bar-item" style="height:6%" href="#">Fav</a>
            <a class="side-bar-item" style="height:6%" href="#">Saved</a>
            <a class="side-bar-item" style="height:6%" href="#">Logout</a>
        </div>
        <div class="main-container">
            <nav>
                <div class="nav-bar">
                    <a class="nav-item" style="width: 15%" href="#">Draccula & Angel</a>
                    <a class="nav-item" style="width: 15%" href="#">Trending</a>
                    <a class="nav-item" style="width: 25%" href="#">Search</a>
                    <a class="nav-item" style="width: 10%" href="#">Bell</a>
                    <a class="nav-item" style="width: 10%" href="#">Profile</a>
                </div>
            </nav>
            <main>
                <div class="doodle">
                    <div>DOODLE</div>
                </div>               

        
                <div class="row">                    
                    <div class="column">
                        <div class="card justify-contents-cente">BraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBra</div>
                    </div>

                    <div class="column">
                        <div class="card justify-contents-cente">BraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBra</div>
                    </div>

                    <div class="column">
                        <div class="card justify-contents-cente">BraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBra</div>
                    </div>

                    <div class="column">
                        <div class="card justify-contents-cente">BraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBraBra</div>
                    </div>                    
                </div>                

                <p>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                    Regressing socioeconomic status has been the ruling economical level for decades at Nigeria, Africa.                    
                    In respect to this, masses of population live in poverty as employment opportunities are on the minimal. 
                    Due to the high rate of unemployment and poverty in the country, there is high level of insecurity, increase in illiteracy rate, poor medical services, et cetera. 
                    This is a call for more advanced tactics to be ensued so to provide
                    <strong> a better developed economy for the country, and its people. The activities and responsibilities of the private sector plays an essential role in achieving high economic growth rate in any country. 
                    What better way to improve our economy than focusing and leveraging more on the integral aspects of an economy; trade, investment and technology?</strong>
                </p>                
            </main>
        </div>
        <footer></footer>


    </body>
</html>