<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static '/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
        <link href="{%  static 'images/download.png' %}" rel="icon">
        <link href="{% static 'images/download.png' %}" rel="apple-touch-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Password Changed</title>
    </head>
     <body class="container" style="background-image: url('/static/images/background.png');
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;
                            background-color: #fffdd0;">

    
   <div class="row" style="padding-top:100px">
               <div class="col-md-5 mx-auto">

        <div class="card">
  <div class="card-body">
          <div class="alert alert-success text-center border border-light " role="alert">
      <a href="{% url 'anon:home' %}" class="logo mr-auto "><img  style="width:70px; height:70px" src="{% static 'images/download.png' %}" alt="" class="img-fluid"></a>
             <br/> <br/>
                <h3 class="card-title">Password changed!</h3>
            <b> You have successfully changed your password! You may now proceed to log in. </b>
          </div>
          <a href="{% url 'anon:sign_in' %}" class="btn btn-info btn-block">Return to log in</a>
        </div>
      </div>
    </div>
    </div>
    
    </body>

    
</html>


